section.BlockEComponentClass{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 20%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;
    text-align: center;

    @media only screen and (max-width: 900px){
        padding: 40px 10%;
    }

    & > h2{
        color: #4b4b4b;
        line-height: 1.6;
        font-size: 40px;
        margin: 10px 0px 20px 0px;
        font-weight: normal;
    }

    & > span.content{
        display: block;
        color: #7c7c7c;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 20px;        
    }
}