<nav class="MenuCComponentClass">
  <div class="container-ad">
    <div class="header">
      <span class="logo-name" translate="GENERAL.HOST"></span>
      <menu-burger class="burger-button" [class.show-ad]="isMenuShow" (click)="isMenuShow = !isMenuShow"></menu-burger>
    </div>
    <ul [class.show-ad]="!isMenuShow" class="navbar-nav-ad">
      <li *ngFor="let item of main_menu" [class.submenu]="!!item.items" (click)="toPage(item)">
        <span translate="{{item.title}}"></span>
        <ng-container *ngIf="!!item.items">
          <div class="popup">
            <ul>
              <li *ngFor="let list of item.items" (click)="toPage(list)" translate="{{list.title}}"></li>
            </ul>
          </div>
          <div class="burger__popup" [class.active]="item.active" [hidden]="!isMenuShow">
            <ul>
              <li *ngFor="let list of item.items" (click)="toPage(list)" translate="{{list.title}}"></li>
            </ul>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>

  <div *ngIf="isBtnTop" class="btn_top" (click)="toScroll(true)">
    <fa class="icon" name="angle-up"></fa>
  </div>
</nav>