$shadow: 0 10px 50px -2px rgba(0,0,0,.14);
$backgound: rgba(48,46,42,0.82);
$bgcolor: rgb(65,65,65);
$height: 53px;

nav.MenuCComponentClass{
    position: fixed;
    display: grid;
    min-height: $height;
    background: $bgcolor;
    box-shadow: $shadow;
    transition: background-color .25s ease-in-out;
    top: 0px;
    z-index: 11;
    width: 100%;    

    & > .btn_top{
        background-color: #333;
        border-radius: 4px 4px 0 0;
        bottom: 0;
        cursor: pointer;
        color: #fff;
        height: 35px;
        position: fixed;
        right: 75px;
        text-align: center;
        text-transform: uppercase;
        width: 48px;
        opacity: .9;
        z-index: 11;
        -webkit-transition: all .2s ease-in-out 0s;
        transition: all .2s ease-in-out 0s;

        & > .icon{
            line-height: 35px;
            -webkit-font-smoothing: antialiased;
            font-family: icomoon;
            font-size: 22px;
        }

        &:hover{
            background: #4bbea5;
            -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
        }
    }

    & > .container-ad{     
        & .header{
            display: flex;
            align-items: center;
            height: $height;
            // border-bottom: 1px solid black;
            
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            
            & > span.logo-name {
                font-family: Montserrat, Arial, Helvetica, sans-serif;
                padding-left: 30px;
                color: white;
                font-size: 25px;                
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
            & > .burger-button {
                position: absolute;
                display: block;
                right: 0px;                
            }
        }        

        & > .navbar-nav-ad {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            flex-direction: row;

            // border-bottom: 1px solid black;
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;

            &.show-ad{
                display: none;                
            }

            &:not(.show-ad){
                background: #f2efef;

                & > li {
                    font-family: Raleway, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    color: #6f6e6e;
                    border-bottom: 1px solid #dcdadb;
                    padding: 10px 15px 8px 15px;
                    
                    &:hover{
                        background: #f8f8f8;

                        &:before{
                            color: rgb(2,204,180);
                        }
                    }
    
                    & > .popup{
                        visibility: hidden;
                    }
                }

                & .submenu{
                    padding: 10px 15px 0px 15px;

                    & .burger__popup{
                        height: 0px;
                        overflow: hidden;
                        padding-bottom: 8px;

                        & > ul{
                            margin-top: 5px;
    
                            & > li{
                                padding: 5px;
    
                                &:nth-child(1){
                                    border: none;
                                }

                                &:hover{
                                    color: rgb(2,204,180);
                                }
                            }
                        }

                        &.active{
                            height: 100%;

                            & li{
                                border-top: 1px solid #dcdadb;
                            }
                        }
                    }

                    &:before{                    
                        font-family: FontAwesome;
                        content: "\f107";
                        position: absolute;
                        top: 2px;
                        right: 40px;
                        font-size: 30px;
                    }
                }                                
            }

            & > li {
                color: white;
                position: relative;
                padding: 14px 20px;
                white-space: nowrap;
                cursor: pointer;
                text-transform: uppercase;

                font-size: 16px;

                @media only screen and (max-width: 1130px){
                    font-size: 14px;
                    padding: 16px 20px;
                }

                @media only screen and (max-width: 1050px){
                    font-size: 12px;
                    padding: 17px 20px;
                }

                @media only screen and (max-width: 970px){
                    font-size: 16px;
                    padding: 14px 20px;
                }

                & > .popup{
                    display: none;
                    position: absolute;
                    top: 49px;
                    background: #f2efef;
                    font-size: 14px;
                    letter-spacing: normal;
                    color: #6f6e6e;
                    z-index: 5;

                    & > ul{
                        list-style-type: none;
                        padding: 0px;

                        & li{
                            font-family: Raleway, Arial, Helvetica, sans-serif;
                            border-bottom: 1px solid #dcdadb;
                            padding: 10px 15px 8px 15px;
                            width: 200px;

                            &:hover{
                                background: #f8f8f8;
                            }
                        }
                    }
                    
                }

                &:last-child{
                    background: #37b79b;

                    &:hover{
                        background: #67dbb0;
                    }
                }

                &:hover{
                    & > .popup {
                        display: block;
                    }
                }                
            }

            & li.link:hover{
                color: rgb(2,204,180);
            }
        }
    }

    @media (min-width: 971px) {
        background: $backgound;
        border-bottom: 1px solid black;
        width: 100%;
        
        & > .container-ad{
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & > .header{
                border: none;

                & > .burger-button {
                    display: none;
                }
            }            

            & > .navbar-nav-ad {
                
                border: none;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;                

                &.show-ad{
                    display: flex;                    
                }            
            }
        }
    }
}
