<section class="BlockDComponentClass">
  <div class="statistic-flex">
    <div class="flex-3 row host">
      <h3 translate="GENERAL.HOST"></h3>
      <!-- <img src="assets/images/host.jpg" alt=""> -->
      <p>Психолог</p>
    </div>
    <div class="flex-3 row hrefs">
      <h3>Важные ссылки</h3>
      <ul>
        <li *ngFor="let href of hrefs" (click)="toPage(href.url)" translate="{{href.title}}"></li>
      </ul>
    </div>
    <div class="flex-3 row contacts">
      <h3>Контактная информация</h3>
      <!-- <div>
        <span>1180 Columbia Avenue, Suite 203</span><br>
        <span>Irmo, South Carolina 29063</span>
      </div> -->
      <div>        
        <p><b>Телефон</b><span [style.font-family]="'cursive'">: +7 (911) 458-2675</span></p>
        <p><b>Мой TikTok</b><span>: <a href="https://vm.tiktok.com/ZS9J2am3/" target="_blank">@psihologhope</a></span></p>
        <p><b>Записаться на консультацию по </b><span><a href="https://api.whatsapp.com/send?phone=79114582675" target="_blank">WhatsApp</a></span></p>
        <!-- <p><b>Skype</b><span>: olgaolg8</span></p> -->
      </div>
      <div></div>
    </div>
  </div>
</section>