section.BlockDComponentClass {

  @media only screen and (max-width: 600px) {
    // & div.host,

    & div.hrefs {
      display: none;
    }
  }

  @media only screen and (max-width: 980px) {
    & div.host {
      display: none;
    }
  }

  overflow: hidden;
  position: relative;
  padding: 43px 10px 25px;
  border-top: 12px solid #22847e;
  background: #333333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &>.statistic-flex {
    height: 100%;
    align-items: initial;

    &>.row {
      font-family: Raleway, Arial, Helvetica, sans-serif;
      margin: 0px 15px;
      color: #ddd;

      & h3 {
        margin: 0 0 15px;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
      }

      &.hrefs {
        &>ul {
          list-style-type: none;
          padding: 0px;

          &>li {
            position: relative;
            text-transform: uppercase;
            padding: 10px 0px 10px 20px;
            text-align: left;
            font-size: 12px;
            border-bottom: 1px solid #a5a1a0;
            cursor: pointer;

            &:hover {
              color: #f8f8f8;
            }

            &:before {
              font-family: FontAwesome;
              content: "\f105";
              position: absolute;
              top: 10px;
              left: 5px;
            }
          }
        }
      }

      &.contacts {
        font-family: monospace;
        font-size: 1.3rem;

        text-align: left;

        & a{
            color: #37b79b;
            text-decoration: none;
        }
      }
    }
  }
}
