<header class="BgfaceDComponentClass">
  <img [src]="ui.img" alt="">
  <div class="content">
    <h3 translate="{{ui.title}}"></h3>
    <span class="text" translate="{{ui.context}}"></span>
  </div>
</header>