:host{
    &.therapy{
        & > header.BgfaceDComponentClass{
            & > .content{
                padding: 40px 20%;

                & > h3{
                    font-size: 40px;
                }
            }
        }
    }

    & > header.BgfaceDComponentClass{
        min-height: 350px;    
    
        & > .content{
            font-family: Raleway, Arial, Helvetica, sans-serif;
            padding: 20px 20%;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-color: #eae9e9;
            border-top-style: solid;
            border-bottom-style: solid;
            text-align: center;
    
            @media only screen and (max-width: 900px){
                padding: 20px 10%;
            }
    
            & > h3{
                color: #333;
                line-height: 1.2;
                font-size: 29px;
                font-family: inherit;
                margin: 10px 0px 20px 0px;
                font-weight: normal;
            }
    
            & > span.text{
                display: block;
                color: #7c7c7c;
                font-size: 16px;
                line-height: 1.5;
                margin: 0 0 30px;        
            }
        }
    
        & > img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
}