<header class="BgfaceCComponentClass">
    <img src="assets/images/bg.jpg"/>
    <article>
        <h2 translate="HEADER.TITLE"></h2>
        <h1 translate="HEADER.INVITE"></h1>
        <button (click)="toContact()" translate="BUTTON.HEADER"></button>
    </article>
</header>