header.BgfaceCComponentClass{    
    max-height: 650px;
    height: 650px;

    & article{
        font-family: Raleway;
        position: absolute;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        width: 100%;
        top: 250px;
        left: 50%;
        transition: .5s;

        & > h1{
            font-size: 60px;
            line-height: 65px;
            font-weight: 700;
            letter-spacing: 3px;
            margin: 30px 0px;
            transition: .5s;
        }

        & > h2{
            font-family: "Open Sans";
            font-size: 40px;
            line-height: 32px;
            font-weight: 400;
            margin: 30px 0px;
            transition: .5s;
        }

        & > button{
            font-family: inherit;
            font-size: 30px;
            line-height: 35px;
            font-weight: 500;
            margin-top: 20px;
            color: #777777; 
            border: none;
            outline: none;
            cursor: pointer;
            background-color: rgba(237, 237, 237, 0.88);
            padding: 12px 35px;
            border-radius: 3px;
            transition: .5s;

            &:hover{
                color: rgb(0, 183, 168);
            }
        }

        @media only screen and (max-width: 600px){
            & > h1{
                font-size: 40px !important;
                margin: 10px 0px !important;
                transition: .5s;
            }

            & > h2{
                margin: 10px 0px !important;
                transition: .5s;
            }
        }
        
        @media only screen and (max-width: 1024px){
            top: 300px;

            & > h1{
                font-size: 50px;
                margin: 20px 0px;
                transition: .5s;
            }

            & > h2{
                font-size: 30px;
                margin: 20px 0px;
                transition: .5s;
            }

            & > button{
                margin-top: 10px;
                transition: .5s;
            }
        }
    }

    & > img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}