<spa-header>
  <bgface-d class="bgface therapy" [ui]="ui"></bgface-d>
</spa-header>

<spa-main>
  <block-i class="block" [ui]="content"></block-i>
  <ng-container class="block" *ngFor="let data of general; let first = first">
      <block-j [ngClass]="first ? 'first' : 'no-first'" [ui]="data"></block-j>
  </ng-container>
  <block-0j *ngIf="url !== 'pair-therapy'" [ui]="data" class="block"></block-0j>
  <block-c (onScroll)="toScroll(footer)" class="block faqs"></block-c>
</spa-main>
<div #footer></div>