:host{

    &.no-block{
        & > .Block0JComponentClass{
            top: 0px;
            padding: 0;
            background: #f5f5f5;
        }
    }

    & > .Block0JComponentClass{
        font-family: Raleway, Arial, Helvetica, sans-serif; 
        background: white;
        padding: 0px 10% 0px 10%;
        position: relative;
        top: -50px;
    
        & .content{
            display: block;
            color: #7c7c7c;
            text-align: justify;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
        }
    }
}

