section.BlockCComponentClass{
    background: #37b79b;
    text-align: center;
    padding: 35px 0px;

    @media only screen and (max-width: 600px){
        & > span.title{
            font-size: 25px !important;
            transition: .5s;
        }

        & > button.btn{
            font-size: 16px !important;
            transition: .5s;
        }
    }

    & > span.title{
        // font-family: Raleway, Arial, Helvetica, sans-serif;
        font-weight: 400;
        line-height: 1.2;
        font-size: 29px;
        color: white;
        margin-right: 10%;

        @media only screen and (max-width: 1080px){
            display: block;
            margin: 0 0 20px 0;
            transition: .5s;
        }
    }

    & > button.btn{
        background: #f5f5f5;
        color: #37b79b;
        border: none;
        padding: 17px 40px;
        line-height: 21px;
        font-size: 18px;
        cursor: pointer;

        &:hover{
            color: #777777;
        }
    }
}