section.BlockFComponentClass{
    background-color: #F5F5F5;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;

    & > .statistic-flex{
        height: auto;

        @media only screen and (max-width: 980px){
            display: block;
        }

        & > .row{
            margin: 0 1px;

            @media only screen and (max-width: 980px){
                margin-bottom: 40px;
            }
            
            & img{
                object-fit: cover;
                max-width: 700px;
                width: 100%;
            }

            & .title{
                font-family: Raleway, Arial, Helvetica, sans-serif;
                color: #00c9a7;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 16px;
                margin: 20px 0;
                display: block;
            }            
        }        
    }    
}