<section class="BlockFComponentClass">
  <div class="statistic-flex">
    <div *ngFor="let url of urls" class="flex-3 row">
        <img [src]="'assets/images/'+ url +'.jpg'" alt="">
        <strong class="title" translate="{{'THERAPY.'+ url +'.TITLE'}}" (click)="toPage(url)"></strong>
    </div>
  </div>
</section>