<section class="BlockIComponentClass">
  <div class="webkit-flex">
    <div class="row block">
      <block-j class="no-block" [ui]="ui"></block-j>
      <br>
    </div>
    <div class="row list">
      <h1 translate="{{ui.second}}"></h1>
      <block-0j class="no-block" [ui]="ui"></block-0j>
      <!-- <ul class="content">
        <li *ngFor="let lst of count.list | demoNumber; let index = index" translate="{{ui.list + (index + 1)}}"></li>
      </ul> -->
    </div>
  </div>
</section>