section.BlockIComponentClass{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    background-position: center center;
    background-repeat: no-repeat;    
    background: #f5f5f5;
    padding: 40px 10% 30px 10%;    

    & .webkit-flex{

        @media only screen and (max-width: 820px){
            /* autoprefixer: off */ 
            -webkit-box-orient: vertical;

            & .block{
                padding-right: 0px !important;
            }
        }

        & > .row{
            text-align: left;

            & > h1{
                color: #35b7a4;
                line-height: 1.6;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 10px 0px 0px 0px;
            }

            & > strong{
                text-transform: uppercase;
            }

            & .content{
                display: block;
                color: #7c7c7c;
                text-align: justify;
                font-size: 16px;
                line-height: 1.5;
            }

            &.block{
                padding-right: 50px;
                -webkit-box-flex: 2;
            }
    
            &.list{                
                -webkit-box-flex: 1;

                & > .content{
                    text-align: left;
                }                
            }
        }        
    }
}