<spa-header>
  <bgface-c (onScroll)="toScroll(footer)" class="bgface"></bgface-c>
</spa-header>

<spa-main>
  <block-c (onScroll)="toScroll(footer)" class="block"></block-c>
  <block-e class="block"></block-e>
  <block-g class="block"></block-g>
  <block-h (onScroll)="toScroll(footer)" class="block" [ui]="ui"></block-h>
  <block-f class="block"></block-f>  
</spa-main>
<div #footer></div>