<spa-header>
  <bgface-d [ui]="bg" class="bgface"></bgface-d>
</spa-header>

<spa-main>
  <!-- <block-h *ngFor="let ui of faqs; first as isFirst" [class.first]="isFirst" class="block faqs" [ui]="ui"></block-h> -->
  <block-c (onScroll)="toScroll(footer)" class="block faqs"></block-c>
</spa-main>
<div #footer></div>