.BlockGComponentClass{
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 20%;
    margin-top: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;

    @media only screen and (max-width: 900px){
        padding: 40px 10%;
    }

    & .content{
        font-family: Montserrat, Arial, Helvetica, sans-serif;        
        font-style: italic;
        font-size: 24px;
        line-height: 35.52px;
        color: #35b7a4;

        & > .text{
            text-align: left;
            font-weight: bold;            
            display: block;
            padding: 10px;
        }

        & > .autor{
            text-align: right;
            display: block;
            font-size: 16px;
        }
    }

    & > .hr{
        border: 1px solid #e0dede;
        border-right: none;
        border-left: none;
        padding-top: 5px;
    }
}