<div class="BlockGComponentClass">
  <div class="hr"></div>
  <div class="content">
    <span class="text">"Любопытный парадокс в том, что когда я принимаю себя таким, каков я есть, я изменяюсь."</span>
    <span class="autor">- Карл Роджерс</span>
  </div>
</div>