<div #header></div>
<menu-c [menu]="menu" (toTop)="toScroll(header)" (toContact)="toScroll(contact)" class="menu"></menu-c>
<router-outlet></router-outlet>
<div #contact></div>
<block-d [hrefs]="main_href" class="block"></block-d>
<spa-footer></spa-footer>