<div class="BlockJComponentClass">
  <h1 *ngIf="!ui.isNotTitle" translate="{{ui.first}}"></h1>
  <ng-container *ngFor="let cntx of count.context | demoNumber; let first = first; let index = index">
    <ng-container *ngIf="index === 0 && !!ui.bold && count.context == 1">
      <br><strong translate="{{ui.bold}}"></strong>
    </ng-container>    
    <p class="content" translate="{{ui.context + (index + 1)}}"></p>
    <strong *ngIf="!!ui.bold && index === 0 && count.context > 1" translate="{{ui.bold}}"></strong>
  </ng-container>
</div>