:host{
    &.no-block{
        & > .BlockJComponentClass{
            background: #f5f5f5;
            padding: 0px;
        }
    }

    &.no-first{
        & > .BlockJComponentClass{
            padding-top: 0px;
        }        
    }

    &.first{
        & > .BlockJComponentClass{
            padding-bottom: 10px;
        }
    }
}

.BlockJComponentClass{
    font-family: Raleway, Arial, Helvetica, sans-serif; 
    background: white;
    padding: 40px 10% 30px 10%;

    & > h1{
        color: #35b7a4;
        line-height: 1.6;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 0px 0px 0px;
    }

    & > strong{
        text-transform: uppercase;
    }

    & .content{
        display: block;
        color: #7c7c7c;
        text-align: justify;
        font-size: 16px;
        line-height: 1.5;
    }
}