<div class="BlockHComponentClass">
  <h1 translate="{{ui.title}}"></h1>
  <span class="content" translate="{{ui.text}}"></span>
  <br>
  <span *ngIf="isParam('context')" class="content" translate="{{ui.context}}"></span>
  <button *ngIf="isParam('btn')" (click)="toContact()" translate="BUTTON.CONTENT"></button>
</div>