:host{

    &.faqs{

        &.first .BlockHComponentClass{
            padding-top: 35px;
        }

        & .BlockHComponentClass {
            @media only screen and (max-width: 600px){
                & > h1{
                    font-size: 20px;
                }
            }

            background: #f5f5f5;
            padding: 1px 20%;

            & > h1{
                margin: 10px 0px 0px 0px;
                font-weight: bold;
                text-align: left;
            }
        }
    }

    .BlockHComponentClass{
        font-family: Raleway, Arial, Helvetica, sans-serif;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 40px 20%;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-color: #eae9e9;
        border-top-style: solid;
        border-bottom-style: solid;
        text-align: center;        

        @media only screen and (max-width: 900px){
            padding: 40px 10%;
        }
    
        & > h1{
            color: #35b7a4;
            line-height: 1.6;
            font-size: 24px;
            margin: 10px 0px 20px 0px;
            font-weight: normal;
            text-transform: uppercase;
        }
    
        & > span.content{
            display: block;
            color: #7c7c7c;
            text-align: justify;
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 20px;        
        }
    
        & > button{
            font-family: 'Raleway';
            text-transform: uppercase;
            cursor: pointer;
            padding: 13px 29px;
            margin-bottom: 15px;
            font-size: 14px;
            background: #37b79b;
            color: #fff;
            border: none;
            text-align: left;
            display: block;
            outline: none;
    
            &:hover{
                opacity: .7;
            }
        }
    }    
}