.SpaFooterComponentClass{
    position: relative;
    padding: 12px 10px;
    text-align: center;
    border-top: 1px solid #4b4c4d;
    background: #282a2b;
    color: #798287;

    & .copiright{
        font-family: Raleway, Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #f5f5f5;
        font-size: 12px;
        line-height: 1.5rem;

        span{    
            display: block;
            
            & b{
                font-weight: normal;

                &:hover{
                    cursor: pointer;
                    color: white;
                }
            }
        }        
    }
}