:host{
    &.show-ad{
        & > .MenuBurgerComponentClass{
            background:#333;
        }
    }
    
    & > .MenuBurgerComponentClass {
        width:40px;
        height:30px;
        margin: .7rem 30px;
        position:relative;
        cursor:pointer;
        background:transparent;
        border: 1px solid #333;
        border-radius: 4px;
    
        & span {
            display:block;
            background:rgb(2,204,180);
            border-radius:2px;
        }
    
        &:hover {
            background:#333;
        }    
    
        & > .hamburger {
            position:absolute;
            height:100%;
            width:100%;
    
            & > span {
                width:30px;
                height:3px;
                position:relative;
                left: 4px;
                margin-top: 5px;
                &:nth-child(1){ transition-delay:.5s; }
                &:nth-child(2){ transition-delay:.625s; }
                &:nth-child(3){ transition-delay:.75s; }
            }
        }
    }
}


  