body{
    &::-webkit-scrollbar{
        width: 9px !important;
        height: 9px !important;
    }
      
    &::-webkit-scrollbar-track{
        border-radius: 0px !important;
        background: #555555;
    }
      
    &::-webkit-scrollbar-thumb{
  
        background: #303030 !important;
        border-radius: 10px !important;
    }
}