@import url('https://fonts.googleapis.com/css?family=Scada|Raleway|Montserrat|Roboto');

body{
  font-family: 'Scada', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;    
}

div{
  box-sizing: border-box;
}

.webkit-flex{
  display: -webkit-box;
  /* autoprefixer: off */ 
  -webkit-box-orient: horizontal;
}

.statistic-flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  @for $i from 1 through 7 {
    .flex-#{$i} {
      flex-grow: $i;
      flex-basis: $i * 10%;
    }
  }
}