<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>
<ng-content select=".block"></ng-content>